  {{#each books as |book|}}
    <div class="item-card">
      <h2><b>Title: </b>{{book.title}}</h2>
      <p><b>Author: </b>{{book.author}}</p>
      <p><b>ISBN: </b>{{book.isbn}}</p>
      <p><b>Year of Publication:</b> {{book.year_published}}</p>
      <p><b>Edition: </b>{{book.edition}}</p>
      <p><b>Price: </b>${{book.price}}</p>
      <p><b>Subject: </b>{{book.subject}}</p>
      <p><b>Description: </b>{{book.description}}</p>
    </div>
  {{/each}}

