<div class="item-card">
  <p>Branch Name:</p>
  <p>{{branch_name}}</p>
  <p>Address:</p>
    <p>{{address_1}}</p>
    {{#if address_2}}
        <p>{{address_2}}</p>
    {{/if}}  
    <p>{{city}}, {{state}} {{zip}}</p>
  <p>Phone Number:{{phone_number}}</p>
</div>

